/* carrusel */
.carousel {
  max-width: 500px;
  height: 100%;
  overflow: hidden;
  border: 5px solid #ffffff;
  border-radius: 8px;
  box-shadow: -1px 5px 15px black;
}

/*envoltura de las imágenes*/
.carousel-wrapper {
  display: flex;
  animation: slide 16s infinite;
}
