@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";
@import "header.css";
@import "keyframes.css";
@import "effects.css";
@import "carousel.css";

body {
  font-family: "Lato", sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  p {
    @apply m-0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  img {
    @apply max-w-full w-full h-auto block;
  }
}
