@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";
@import "header.css";
@import "keyframes.css";
@import "effects.css";
@import "carousel.css";
@import "scroll-to-top.css";

body {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d1bebe;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  p {
    @apply m-0;
  }

  html {
    @apply scroll-smooth;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  img {
    @apply max-w-full w-full h-auto block;
  }
}
