/* visualiza menu */
@keyframes abre-menu-movil {
  from {
    max-height: 0;
  }
  to {
    max-height: fit-content;
  }
}

/* carrusel - transición */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/* botón de volver hacia arriba */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* aparecer (imagen) */
@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}
